<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RentHouse.Properties.Settings.renthouseConnectionString" connectionString="Data Source=KIDDY\CCIT;Initial Catalog=renthouse;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
        <add name="RentHouse.Properties.Settings.rent_houseConnectionString" connectionString="Data Source=KIDDY\CCIT;Initial Catalog=rent_house;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
